*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4{
    color: #272727;
}
p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
}
/*Header Section Start*/
header{
    background: #E554731A;
}
.banner{
    margin: 0 8%;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-info{
    width: 50%;
}
.banner-title{
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: 700;
}
.banner-dis{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.btn{
    color: #fff;
    font-size: 28px;
    padding: 15px 30px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
}
.banner-logo{
    width: 40%;
}
.banner-logo img{
    width: 100%;
}
/*Header Section End*/

/*Featured Flowers Section Start*/
.featured{
    margin:0 10%;
    margin-top: 100px;
    margin-bottom: 80px;
}
.featured-info{
    text-align: center;
}
.featured-title{
    font-size: 40px;
    margin-bottom: 25px;
}
.featured-dis{
    margin-bottom: 40px;
}

.featured-img{
    display: flex;
    gap:25px;
    justify-content: space-between;
}
.featured-img-box img{
    width: 100%;
}
.box-1{
    background-color: #A7216226;
    padding: 0 60px;
    padding-top: 90px;
    margin-bottom: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.box-2{
    background-color: #0597A026;
    padding: 0 60px;
    padding-top: 90px;
    margin-bottom: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.box-3{
    background-color:#477D1126;
    padding: 0 60px;
    padding-top: 90px;
    margin-bottom: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.box-1 img,.box-2 img,.box-3 img{
    width: 230px;
    height: 300px;
}
.featured-img-box-1 h3,.featured-img-box-2 h3,.featured-img-box-3 h3{
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
}
/*Featured Flowers Section End*/

/*Service Section Start*/
.services{
    margin: 100px 10%;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-between;
    padding:100px 120px;
}
.service p{
    text-align: center;
}

.service img{
    display: block;
    width: 80px;
    margin:0 auto;
    margin-bottom: 20px;
    
}
/*Service Section End*/